* {
  background-color: darkgray;
  font-size: 30px;
  font-family: sans-serif;
}

.formulario, h2 {
    text-align: center;
    padding-bottom: 110px;
}

#uno {
    width: 80px;
    height: 15px;
}

#dos {
    width: 80px;
    height: 15px;
}

#cotizador {
    border-radius: 5px;
    background-color: greenyellow;
}

#cotizador:hover {
    cursor: pointer;
    background-color: blue;
    transition: 0.5s;
}